<%# remember to edit %>
<div "container">
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-around">
      <div class="item-image-div show-page-image" style="background-image: url('<%= item.image %>')">
      </div>
    </div>
    <div class="col">
    <% if(item.createdBy) { %>
      <h3>added by: <%= item.createdBy.username %></h3>
    <% } %>
      <h4>colours: <%= item.colour %></h4>
      <h4>use in <%= item.weather[0] %>  weather</h4>
      <h4>pattern: <%= item.pattern %></h4>
    <% if (item.specialOccassion) { %>
      <h4> special occassion outfit! </h4>
    <% } %>
    <% if (locals.isLoggedIn) { %>
      <a href="/outfits/new" class="btn btn-outline-primary btn-lg btn-block homepage-button">create an outfit</a>
    <% } %>
    <% if (!locals.isLoggedIn) { %>
      <a href="/register" class="btn btn-outline-danger btn-lg btn-block">Sign up to create an outfit!</a>
    <% } %>
    <% if(item.createdBy || locals.user === 'hannah') { %>
      <% if(locals.isLoggedIn && item.belongsTo(user)) {%>
        <a class="btn btn-outline-success btn-lg show-page-button" href="/items/<%= item.id %>/edit">edit</a>
        <form method="POST" action="/items/<%= item.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-outline-danger btn-lg show-page-button">delete</button>
        </form>
      <% } %>
    <% } %>
    </div>
  </div>
</div>
