<%# remember to edit %>
<div "container">
  <div class="row centered-content">
    <img class="show-page-image" src="<%= item.image %>" alt="<%= item.name %>">
  </div>
  <div class="row centered-content">
    <h4><%= item.category %></h2>
  </div>
  <div class="row centered-content">
    <% if(item.createdBy) { %>
      <h3>added by: <%= item.createdBy.username %></h3>
    <% } %>
  </div>
  <div class="row centered-content">
    <p>colours: <%= item.colour %><p>
  </div>
  <div class="row centered-content">
    <p>use in <%= item.weather[0] %> or <%= item.weather[1] %> weather</p>
  </div>
  <div class="row centered-content">
    <p>pattern: <%= item.pattern %></p>
  </div>
  <div class="row centered-content">
    <% if (item.specialOccassion) { %>
      <p> special occassion outfit! <p>
    <% } %>
    </p>
  </div>
</div>

  <% if(item.createdBy || locals.user === 'hannah') { %>
    <% if(locals.isLoggedIn && item.belongsTo(user)) {%>

    <div class="row centered-content">
      <a class="btn btn-outline-success btn-lg" href="/items/<%= item.id %>/edit">edit</a>
    </div>
    <div class="row centered-content">
      <form method="POST" action="/items/<%= item.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-outline-danger btn-lg">delete</button>
      </form>
    </div>
    <% } %>
  <% } %>

</div>
