<div "container">
  <img src="<%= item.image %>" alt="<%= item.name %>">
  <h2><%= item.category %></h2>
  <h3>Created by: <%= item.createdBy.username %></h3>

  <p>
    <%= item.colour %>
    <%= item.weather %>
    <%= item.pattern %>
    <% if (item.specialOccassion) { %>
      <p> This is something you'd wear for a special occassion! <p>
    <% } else { %>
      <p> This is not something you'd wear for a special occassion <p>
    <% } %>
  </p>
