<div "container">
  <div class="row centered-content">
    <h4><%= outfit.name %></h2>
  </div>
  <div class="row centered-content">
    <a href="/outfits/<%= outfit.id %>">
    <% outfit.items.forEach((itemImage) => { %>
      <div class="outfit-image-div">
        <img src="<%= itemImage.image %>">
      </div>
    <% }); %>
    </a>
  </div>
  <div class="row centered-content">
    <% if(outfit.createdBy) { %>
      <h3>Added by: <%= outfit.createdBy.username %></h3>
    <% } %>
  </div>
  <div class="row centered-content">
    <p>Use in <%= outfit.weather[0] %> or <%= outfit.weather[1] %> weather</p>
  </div>
  <div class="row centered-content">
    <% if (outfit.specialOccassion) { %>
      <p> This is something you'd wear for a special occassion! <p>
    <% } else { %>
      <p> This is not something you'd wear for a special occassion <p>
    <% } %>
    </p>
  </div>
</div>
<%# Fix this! %>
<% if(locals.isLoggedIn && user.favouriteOutfits) {%>
  <% console.log(outfit._id); %>
<div class="container last-container">
  <div class="row centered-content">
    <p>This is one of my favourite outfits</p>
  </div>
<% } %>

  <% if(outfit.createdBy || locals.user === 'hannah') { %>
    <% if(locals.isLoggedIn && outfit.belongsTo(user)) {%>

    <div class="row centered-content">
      <a class="btn btn-outline-success btn-lg" href="/outfits/<%= outfit.id %>/edit">Edit</a>
    </div>
    <div class="row centered-content">
      <form method="POST" action="/outfits/<%= outfit.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-outline-danger btn-lg">Delete</button>
      </form>
    </div>
    <% } %>
  <% } %>

</div>
<% if(locals.isLoggedIn) {%>
<div class="container last-container">
  <form method="POST" action="/outfits/<%= outfit.id %>/favourite">
    <div class="container last-container">
      <div class="sumbit-item">
        <button name="id" type="submit" class="btn btn-outline-success">Favourite</button>
      </div>
    </div>
  </form>
</div>
<% } %>
