<div "container centered-content">
  <div class="row centered-content">
    <h4><%= outfit.name %></h2>
  </div>
  <div class="row centered-content">
    <a href="/outfits/<%= outfit.id %>">
    <% outfit.items.forEach((itemImage) => { %>
      <div class="outfit-image-div">
        <img src="<%= itemImage.image %>">
      </div>
    <% }); %>
    </a>
  </div>
  <div class="row centered-content">
    <% if(outfit.createdBy) { %>
      <h3>added by: <%= outfit.createdBy.username %></h3>
    <% } %>
  </div>
  <div class="row centered-content">
    <p>Use in <%= outfit.weather[0] %> or <%= outfit.weather[1] %> weather</p>
  </div>
  <div class="row centered-content">
    <% if (outfit.specialOccassion) { %>
      <p> special occassion item! <p>
    <% } %>
    </p>
  </div>

  <% if(locals.isLoggedIn && user.favouriteOutfits.indexOf(outfit.id) === 0 ) {%>
    <div class="container last-container centered-content">
        <p class="btn btn-info btn-lg btn-block">favourite outfit</p>
    </div>
  <% } %>

  <% if(outfit.createdBy || user.username === 'hannah') { %>
    <% if(locals.isLoggedIn && outfit.belongsTo(user)) {%>
        <div class="container last-container centered-content">
          <a class="btn btn-outline-success btn-lg" href="/outfits/<%= outfit.id %>/edit">edit</a>
        </div>
        <div class="container last-container centered-content">
          <form method="POST" action="/outfits/<%= outfit.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-outline-danger btn-lg">delete</button>
          </form>
        </div>
    <% } %>
  <% } %>
  <% if(locals.isLoggedIn) {%>
  <div class="container last-container">
    <form method="POST" action="/outfits/<%= outfit.id %>/favourite">
        <div class="sumbit-item">
          <button name="id" type="submit" class="btn btn-outline-success">Favourite</button>
        </div>
    </form>
  </div>
  <% } %>
</div>
